<header>
    <h1 id="logo"><a href="/">JANOG57 NOC</a></h1>
    <!--開閉ブロック-->
    <div id="menubar">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/policy/">各種ポリシー</a></li>
                <li><a href="/noclive/">NOC Live 配信</a></li>
                <li><a href="/program/">プログラム</a></li>
                <li><a href="https://www.janog.gr.jp/meeting/janog57/noc/">メンバー</a></li>
                <li><a href="/contact/">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <!--/#menubar-->
</header>
